<%- include('./header.ejs') %>

<form
  style="margin: 0 20px"
  method="POST"
  action="/blogs/<%= temp.id %>?_method=PATCH"
>
  <h1>Edit Blog</h1>
  <br />
  <br />
  <input
    type="text"
    name="title"
    placeholder="Enter title"
    value="<%= temp.title %>"
    required
  />
  <br />
  <br />
  <input
    type="text"
    name="img"
    placeholder="Enter image link"
    value="<%= temp.img %>"
    required
  />
  <br />
  <br />
  <input
    type="text"
    name="author"
    placeholder="Enter author name"
    value="<%= temp.author %>"
    required
  />
  <br />
  <br />
  <textarea
    cols="30"
    rows="5"
    name="blog"
    placeholder="Type your blog here...!!!"
    required
  >
<%= temp.blog %></textarea
  >
  <br />
  <button class="btn btn-primary" type="submit">Edit blog</button>
</form>

<%- include('./footer.ejs') %>
